
.user-list {
    width: 80%;
    margin: 0 auto;
}

.user-line {
    width: 100%;
    border: 1px solid gray;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex: row;
}

img {
    border-radius: 50%;
}

.user-img {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.user-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.user-info p {
    margin: 0;
}